.App {
  text-align: center;
  color: darkcyan;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-spacing: 20px;
  justify-items: center;
}

body{
  background-color: antiquewhite;
}
img{
  width: 100px;
  height: 100px;
}
#img{
  display: grid;
  grid-template-columns: 1fr;
}
